src/main/resources/wsdl/PersonWebServiceSoap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><xs:schema version="1.0" targetNamespace="http://web.webserviceperson.example.com/" xmlns:tns="http://web.webserviceperson.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getById" type="tns:getById"/>
  <xs:element name="getByIdResponse" type="tns:getByIdResponse"/>
  <xs:element name="person" type="tns:person"/>
  <xs:complexType name="getById">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:person" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>